.nav-bar-container{
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
}
.nav-bar-left-container{
    width: 10%;
    height: 100%;
}
.nav-bar-right-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    height: 60%;
    padding-top: 20px;
}
.nav-bar-links{
    height: 100%;
    width: 30%;
    font-size: 15px;
    color: blue;
    text-decoration: none;
}
.nav-logo{
    height: 100%;
}